@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  color: #c8d6e5;
  font-family: "Nanum Gothic", sans-serif;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.wrapper {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper p {
  margin: 20px 0;
  line-height: 150%;
}

blockquote {
  height: 50px;
  width: 500px;
  border: 1px dashed #c8d6e5;
  border-left: 10px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sql {
  margin-bottom: 100px;
}

.xss {
  margin-bottom: 100px;
}
